@model PortalVet.Data.Helper.VMHome
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles {


}

@Html.Hidden("hdnUsuarioId", Model.UserId)
@Html.Hidden("hdnControllerName", Model.ControllerName)
@Html.Hidden("hdnAreaName", Model.AreaName)
@Html.Hidden("hdnEmpresaId")
<header class="section-header" style="padding:0 0 10px">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h5>  @Model.MenuNameSelected </h5>
            </div>
        </div>
    </div>
</header>
<section class="card" id="areaBody">

    <div class="col-lg-12">
        &nbsp;
        <ol class="breadcrumb" style="display:none">
            <li><a href="@Url.Action("Index","Dashboard", new { Area = "" })">Painel Inicial</a></li>
            <li id="areaNameLi"><a href="#">  @Model.MenuNameSelected </a></li>
            <li class="active" id="actionName"></li>
        </ol>

        @*<div class="form-group">
            <button type="button" class="btn btn-inline" id="btnNovoRegistro">Novo Registro</button>
        </div>*@

    </div>
    <div class="card-block">



        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label for="txtFilterCodigo" class="form-label">Código</label>
                            <input name="txtFilterCodigo" id="txtFilterCodigo"
                                   type="text"
                                   placeholder="Código"
                                   class="form-control">
                        </fieldset>
                    </div>


                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label for="txtFilterDtExame" class="form-label">Dt Exame</label>
                            <input type="text" id="txtFilterDtExame" name="txtFilterDtExame" class="form-control data">

                        </fieldset>
                    </div>



                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label for="drpFilterSituacao" class="form-label">Situação</label>
                            <select id="drpFilterSituacao" name="drpFilterSituacao" class="select2">
                                <option value="">:: Selecione ::</option>
                                @{
                                    var list = (List<SelectListItem>)ViewData["ListSituacao"];
                                    foreach (var item in list)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </fieldset>
                    </div>


                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label for="drpFilterCliente" class="form-label">Cliente</label>
                            <select id="drpFilterCliente" name="drpFilterCliente" class="select2">
                                <option value="">:: Selecione ::</option>
                                @{
                                    var listC = (List<SelectListItem>)ViewData["ListCliente"];
                                    foreach (var item in listC)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </fieldset>
                    </div>



                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label for="drpFilterLaudador" class="form-label">Laudador</label>
                              <select id="drpFilterLaudador" name="drpFilterLaudador" class="select2">
                                <option value="">:: Selecione ::</option>
                                @{
                                    var listL    = (List<SelectListItem>)ViewData["ListLaudador"];
                                    foreach (var item in listL)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="form-group"></fieldset>
                    </div>

                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <button type="button" id="btnFilter" name="btnFilter" class="btn btn-inline btn-primary">Filtrar</button>
                            <button type="button" id="btnClear" name="btnClear" class="btn btn-inline btn-default">Limpar</button>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-group"></fieldset>
                    </div>
                </div>
            </div>
        </div>

        <table id="tbGrid" class="display table table-bordered" cellspacing="0" width="100%">
            <colgroup>
                <col style="width: 33px !important;" />
                <col style="width: 10%;" />
            </colgroup>
            <thead>
                <tr>
                    @*<th>
            <div class="checkbox checkbox-only" style="text-wrap:none;overflow-wrap:inherit">
                <input id="datatable-checkbox-0" data-index="0" name="btSelectItem" type="checkbox" value="0" />
                <label for="datatable-checkbox-0"></label>
            </div>

        </th>*@
                    <th></th>
                    @*<th class="col_sort" col_order="1">Código</th>
        <th class="col_sort" col_order="2">Data Exame</th>
        <th class="col_sort" col_order="3">Cliente</th>
        <th class="col_sort" col_order="4">Laudador</th>
        <th class="col_sort" col_order="5">Situação</th>*@
                    <th >Código</th>
                    <th >Data Exame</th>
                    <th >Cliente</th>
                    <th >Laudador</th>
                    <th >Situação</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td class="bs-checkbox">
                            <div class="checkbox checkbox-only" style="text-wrap:none;overflow-wrap:inherit">
                                <input id="datatable-checkbox-0" data-index="0" name="btSelectItem" type="checkbox" value="0" />
                                <label for="datatable-checkbox-0"></label>
                            </div>
                        </td>
                        <td><div style="cursor:pointer;" class="font-icon font-icon-pencil"></div></td>
                        <td><div style="cursor:pointer;" class="font-icon font-icon-del"></div></td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>*@

            </tbody>
        </table>

        <nav class="pager">
            <div id="pageMessage"></div>
            <ul class="pagination">
                <!--   <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</section>


<div class="modal fade bd-example-modal-sm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalRemove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body" id="modalBodyMessage">
                Deseja remover esse item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-rounded btn-primary" id="btnConfirmRemove">Ok</button>
            </div>
        </div>
    </div>
</div><!--.modal-->






<div class="modal fade bd-example-modal-sm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalLogin">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body" id="modalBodyMessage">
                Deseja se logar com este usuário?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-rounded btn-primary" id="btnConfirmLogin">Ok</button>
            </div>
        </div>
    </div>
</div><!--.modal-->

@section scripts {
    @Scripts.Render("~/Scripts/Cadastro/ExameLaudador.Index.js?t=" + Guid.NewGuid())
}
