@model PortalVet.Data.Helper.VMHome
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles {
    @Styles.Render("~/Content/css/lib/jquery-minicolors/jquery.minicolors.css")
    @Styles.Render("~/Content/css/separate/vendor/jquery.minicolors.min.css")
    @Styles.Render("~/Content/fileupload/css/jquery.fileupload.css")
    @Styles.Render("~/Content/css/separate/vendor/tags_editor.min.css")
    @Styles.Render("~/Content/css/separate/pages/activity.min.css")

    @Styles.Render("~/Content/css/separate/vendor/bootstrap-daterangepicker.min.css")
    @Styles.Render("~/Content/css/lib/clockpicker/bootstrap-clockpicker.min.css")
    @Styles.Render("~/Content/css/lib/ion-range-slider/ion.rangeSlider.css")
    @Styles.Render("~/Content/css/lib/ion-range-slider/ion.rangeSlider.skinHTML5.css")

    <style>
        #msgError {
            display: none;
            background-color: #ffe7e7;
            padding: 20px;
        }

        .show {
            display: block !important;
        }

        .error-field, .form-control-error {
            border: 2px solid red;
        }

        .sizeComboText span.select2.select2-container.select2-container--default {
            max-width: 90% !important;
        }

        .sizeComboText2 span.select2.select2-container.select2-container--default {
            max-width: 80% !important;
        }

        .disabledArea {
            pointer-events: none;
            opacity: 0.4;
        }
    </style>
}

@Html.Hidden("hdnControllerName", Model.ControllerName)
@Html.Hidden("hdnAreaName", Model.AreaName)
@Html.Hidden("hdnId", Model.ID)
@Html.Hidden("hdnEmpresaId", Model.EmpresaId)



<header class="section-header" style="padding:0 0 10px">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h5 id="ltlTitle"></h5>
            </div>
        </div>
    </div>
</header>

<section class="card" id="areaBody">

    <div class="col-lg-12">
        &nbsp;
        <ol class="breadcrumb" style="display:none">
            <li><a href="@Url.Action("Index", "Dashboard", new { Area = "" })">Painel Inicial</a></li>
            <li id="areaNameLi"><a href="#"> @Model.MenuNameSelected </a></li>
            <li class="active" id="actionName"></li>
        </ol>



    </div>


    <div class="card-block">





        <section class="tabs-section">
            <div class="tabs-section-nav tabs-section-nav-inline">
                <ul class="nav" role="tablist" id="ulLista">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-4-tab-1" role="tab" data-toggle="tab">
                            Formulário
                        </a>
                    </li>
                    <li class="nav-item" id="liConfigAcessos" style="display:none">
                        <a class="nav-link" href="#tabs-4-tab-2" role="tab" data-toggle="tab">
                            Configurar acessos
                        </a>
                    </li>

                </ul>
            </div><!--.tabs-section-nav-->



            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="tabs-4-tab-1">



                    <div class="alert alert-danger alert-border-left alert-close alert-dismissible fade" role="alert" id="msgError">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div id="msgErrorText">Preencha corretamente abaixo</div>
                    </div>


                    @*<div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label class="form-label">Nome</label>
                                    <div class="form-label">
                                        <input name="txtNome" id="txtNome"
                                               type="text"
                                               placeholder="Nome"
                                               class="form-control">
                                    </div>
                                </fieldset>
                            </div>
                        </div>*@
                    <div class="row" id="areaCodigo" style="display:none">

                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Situação <label style="font-size:20px;font-weight:bold" id="lblSituacao"></label></label>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Nº Exame <label style="font-size:20px;font-weight:bold" id="lblCodigo"></label></label>
                            </fieldset>
                        </div>


                    </div>

                    <div class="row clsAreaForm">


                        <div class="col-md-6">

                            <fieldset class="form-group">
                                <label for="drpSituacao" class="form-label">Alterar Situação</label>
                                <div class="input-group">

                                    <select id="drpSituacao" name="drpSituacao" class="select2">
                                        <option value="">:: Selecione ::</option>
                                        @{
                                            var listSituacao = (List<SelectListItem>)ViewData["ListSituacao"];
                                            foreach (var item in listSituacao)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </fieldset>

                        </div>

                    </div>
                    <hr />
                    <div class="row clsAreaForm">
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Data do Exame</label>
                                <input name="txtDataExame" id="txtDataExame"
                                       type="text"
                                       class="form-control form-control-sm data"
                                       placeholder="dd/mm/yyyy">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Horário do Exame</label>
                                <input name="txtDataExameTime" id="txtDataExameTime"
                                       type="text"
                                       class="form-control form-control-sm timer"
                                       placeholder="HH:mm">
                            </fieldset>
                        </div>

                    </div>

                    <div class="row clsAreaForm">

                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Veterinário</label>
                                <div class="form-label">
                                    <input name="txtVeterinario" id="txtVeterinario"
                                           type="text"
                                           maxlength="100"
                                           placeholder="Veterinário"
                                           class="form-control">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Proprietário</label>
                                <div class="form-label">
                                    <input name="txtProprietario" id="txtProprietario"
                                           type="text"
                                           maxlength="100"
                                           placeholder="Proprietátio"
                                           class="form-control">
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row clsAreaForm">

                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Paciente</label>
                                <div class="form-label">
                                    <input name="txtPaciente" id="txtPaciente"
                                           type="text"
                                           maxlength="100"
                                           placeholder="Paciente"
                                           class="form-control">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Espécie</label>
                                <div class="form-label">
                                    <input name="txtEspecie" id="txtEspecie"
                                           type="text"
                                           maxlength="100"
                                           placeholder="Espécie"
                                           class="form-control">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">

                            <fieldset class="form-group">
                                <label for="drpRaca" class="form-label">Raça</label>


                                <div class="input-group">

                                    <select id="drpRaca" name="drpRaca" class="select2">
                                        <option value="">:: Selecione ::</option>
                                        @{
                                            var list = (List<SelectListItem>)ViewData["ListRaca"];
                                            foreach (var item in list)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                </div>

                                @*<div class="input-group sizeComboText2">

                                        <select id="drpRaca" name="drpRaca" class="select2">
                                            <option value="">:: Selecione ::</option>
                                            @{
                                                var list = (List<SelectListItem>)ViewData["ListRaca"];
                                                foreach (var item in list)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary btn-sm" id="btnOpenModalRaca" title="Adicionar Raça" style="padding: 3px 13px 0px 11px;">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Adicionar Raça"></span>
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" id="btnRemoveModalRaca" title="Remover Raça" style="padding: 3px 10px 0px 7px;">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true" title="Remover Raça"></span>
                                            </button>
                                        </div>
                                    </div>*@
                            </fieldset>

                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label class="form-label">Idade</label>
                                <div class="form-label">
                                    <input name="txtIdade" id="txtIdade"
                                           type="text"
                                           maxlength="100"
                                           placeholder="Idade"
                                           class="form-control">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row clsAreaForm">

                        <div class="col-md-6">

                            <fieldset class="form-group">
                                <label for="drpCliente" class="form-label">Cliente</label>

                                <div class="input-group sizeComboText_">

                                    <select id="drpCliente" name="drpCliente" class="select2">
                                        <option value="">:: Selecione ::</option>
                                        @{
                                            var listCliente = (List<SelectListItem>)ViewData["ListCliente"];
                                            foreach (var item in listCliente)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    @*<div class="input-group-append">
                                        <button type="button" class="btn btn-secondary btn-sm" id="btnOpenModalCliente" title="Adicionar" style="padding: 3px 13px 0px 11px;">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Adicionar"></span>
                                        </button>
 
                                    </div>*@
                                </div>
                            </fieldset>
                        </div>


                        <div class="col-md-6">

                            <fieldset class="form-group">
                                <label for="drpLaudador" class="form-label">Laudador</label>

                                <div class="input-group sizeComboText_">

                                    <select id="drpLaudador" name="drpLaudador" class="select2">
                                        <option value="">:: Selecione ::</option>
                                        @{
                                            var listLaudador = (List<SelectListItem>)ViewData["ListLaudador"];
                                            foreach (var item in listLaudador)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    @*<div class="input-group-append">
                                        <button type="button" class="btn btn-secondary btn-sm" id="btnOpenModalLaudador" title="Adicionar" style="padding: 3px 13px 0px 11px;">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Adicionar"></span>
                                        </button>
 
                                    </div>*@
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12 clsAreaForm">
                            <fieldset class="form-group">

                                <label class="form-label">Descrição</label>
                                <textarea name="editorTexto" id="editorTexto" class="editorTexto"></textarea>

                            </fieldset>
                        </div>
                        <div class="col-md-12">


                            <section class="widget widget-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <article class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                            Histórico das Atividades

                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                                        <div class="panel-collapse-in" id="areaHistorico">
                                            @*<div class="user-card-row">
                                                    <div class="tbl-row">
                                                        <div class="tbl-cell tbl-cell-photo">
                                                            <a href="#">
                                                                <img src="img/photo-64-2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="tbl-cell">
                                                            <p class="user-card-row-name"><a href="#">Maurico Estrella</a></p>
                                                            <p class="user-card-row-location">Associate Creative Director  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <header class="title">How a password changed my life</header>
                                                <p>«How could she do something like this to me?» said a voice in my head. All the time. Every day... <a href="#">More</a></p>*@





                                        </div>
                                    </div>
                                </article>

                            </section>




                        </div>
  

                        <div class="col-md-12">
                            <fieldset class="form-group">

                                <button type="button" id="btnBackCriarExame" name="btnBackCriarExame" class="btn btn-inline btn-secondary-outline">Voltar</button>

                                <button type="button" id="btnCriarExame" name="btnCriarExame" class="btn btn-inline btn-primary-outline">Salvar</button>

                            </fieldset>
                        </div>
                    </div><!--.row-->

                </div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-2">

                    <div class="col-md-6">

                        <fieldset class="form-group">
                            <div class="dd" id="nestable">

                            </div>
                        </fieldset>
                    </div>

                </div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-3">Tab 3</div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-4">Tab 4</div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-5">Tab 5</div><!--.tab-pane-->
                <div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-6">Tab 6</div><!--.tab-pane-->
            </div><!--.tab-content-->
        </section>

    </div>
</section>





<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalConfirm">
    <div class="modal-dialog modal-lg" style="max-width: 600px !important;">
        <div class="modal-content" style="width:600px !important;">

            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body" id="modalBodyMessage">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-rounded btn-primary" id="btnConfirmConvite">Ok</button>
            </div>
        </div>
    </div>
</div><!--.modal-->




<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalView">
    <div class="modal-dialog modal-lg" style="max-width: 800px !important;">
        <div class="modal-content" style="width:800px !important;">

            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Visualização</h4>
            </div>
            <div class="modal-body" id="modalBodyView">
                <div class="row">


                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Nome</label>
                            <div class="form-label">
                                <label id="lblNome" class="form-control"></label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Sobrenome</label>
                            <label id="lblSobreNome" class="form-control"></label>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">E-mail</label>
                            <label id="lblEmail" class="form-control"></label>
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Usuário</label>
                            <label id="lblUsuario" class="form-control"></label>
                        </fieldset>
                    </div>


                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Estado</label>
                            <label id="lblEstado" class="form-control"></label>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Cidade</label>
                            <label id="lblCidade" class="form-control"></label>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">CRECI</label>
                            <label id="lblCRECI" class="form-control"></label>
                        </fieldset>


                        <fieldset class="form-group">
                            <label class="form-label">Foto</label>
                            <div class="col-md-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img id="imgFotoView" style="max-width:150px;max-height:150px;" alt="">&nbsp;&nbsp;
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label">Telefone 1</label>
                            <label id="lblTelefone1" class="form-control"></label>
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="form-label">Telefone 2</label>
                            <label id="lblTelefone2" class="form-control"></label>
                        </fieldset>


                        <fieldset class="form-group">
                            <label class="form-label">Telefone 3</label>
                            <label id="lblTelefone3" class="form-control"></label>
                        </fieldset>


                    </div>

                    <div class="col-md-12">

                        <fieldset class="form-group">
                            <label class="form-label"><strong>Perfil (Fale mais sobre você, perfil de imóvel que trabalha, formação...)</strong></label>
                            <label for="lblMensagem" class="col-sm-4 col-form-label"></label>
                            <label id="lblMensagem" class="form-control"></label>
                        </fieldset>

                    </div>


                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div><!--.modal-->









<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalCadastroLaudador">
    <div class="modal-dialog modal-lg" style="max-width: 800px !important;">
        <div class="modal-content" style="width:800px !important;">

            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Laudador</h4>
            </div>
            <div class="modal-body" id="modalBodyView">
                <div class="row">


                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalNome">Nome</label>
                            <div class="form-label">
                                <input name="txtModalNome" id="txtModalNome"
                                       type="text"
                                       placeholder="Nome"
                                       class="form-control">
                            </div>
                        </fieldset>
                    </div>


                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalEmail">E-mail</label>
                            <input name="txtModalEmail" id="txtModalEmail"
                                   type="text"
                                   placeholder="E-mail"
                                   class="form-control">
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalSenha">Senha</label>
                            <input name="txtModalSenha" id="txtModalSenha"
                                   type="password"
                                   placeholder="Senha"
                                   class="form-control">
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalSenhaCC">Confirma Senha</label>
                            <input name="txtModalSenhaCC" id="txtModalSenhaCC"
                                   type="password"
                                   placeholder="Confirma Senha"
                                   class="form-control">
                        </fieldset>

                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-rounded btn-primary" id="btnSalvarLaudador">Salvar</button>
            </div>
        </div>
    </div>
</div><!--.modal-->







<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="modalCadastroCliente">
    <div class="modal-dialog modal-lg" style="max-width: 800px !important;">
        <div class="modal-content" style="width:800px !important;">

            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Cliente</h4>
            </div>
            <div class="modal-body" id="modalBodyView">
                <div class="row">


                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliNome">Nome</label>
                            <div class="form-label">
                                <input name="txtModalCliNome" id="txtModalCliNome"
                                       type="text"
                                       placeholder="Nome"
                                       class="form-control">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliSobreNome">Sobrenome</label>
                            <input name="txtModalCliSobreNome" id="txtModalCliSobreNome"
                                   type="text"
                                   placeholder="Sobrenome"
                                   class="form-control">
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliCPFCNPJ">CPF/CNPJ</label>
                            <input name="txtModalCliCPFCNPJ" id="txtModalCliCPFCNPJ"
                                   type="text"
                                   placeholder="CPF/CNPJ"
                                   class="form-control">
                        </fieldset>

                    </div>

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliEmail">E-mail</label>
                            <input name="txtModalCliEmail" id="txtModalCliEmail"
                                   type="text"
                                   placeholder="E-mail"
                                   class="form-control">
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliSenha">Senha</label>
                            <input name="txtModalCliSenha" id="txtModalCliSenha"
                                   type="password"
                                   placeholder="Senha"
                                   class="form-control">
                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label" for="txtModalCliSenhaCC">Confirma Senha</label>
                            <input name="txtModalCliSenhaCC" id="txtModalCliSenhaCC"
                                   type="password"
                                   placeholder="Confirma Senha"
                                   class="form-control">
                        </fieldset>

                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-rounded btn-primary" id="btnSalvarCliente">Salvar</button>
            </div>
        </div>
    </div>
</div><!--.modal-->

@section scripts {
    @*@Scripts.Render("~/Content/js/lib/jquery-minicolors/jquery.minicolors.min.js")

        @Scripts.Render("~/Content/js/lib/ion-range-slider/ion.rangeSlider.js")*@

    @Scripts.Render("~/Scripts/Cadastro/ExameLaudador.Save.js?t=" + Guid.NewGuid())

    @Scripts.Render("~/Content/js/lib/moment/moment-with-locales.min.js")
    @Scripts.Render("~/Content/js/lib/daterangepicker/daterangepicker.js")
    @*@Scripts.Render("~/Content/js/lib/jquery-tag-editor/jquery.caret.min.js")
        @Scripts.Render("~/Content/js/lib/jquery-tag-editor/jquery.tag-editor.min.js")*@



    @*@Scripts.Render("~/Content/fileupload/js/vendor/jquery.ui.widget.js")
        @Scripts.Render("~/Content/fileupload/js/jquery.iframe-transport.js")*@
    @*@Scripts.Render("~/Content/fileupload/js/jquery.fileupload.js")*@

}
