@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}
@section styles {
    <style>
        body { background-color: transparent !important; }
        html {
            /*background: url('Url.Content("~/Content/Images/bg-sohtec1.jpg")') no-repeat center center fixed;*/
            background: -webkit-gradient(linear, left top, right top, from(#000000), to(#0082c6)) no-repeat;
            background: -moz-linear-gradient(left, #000000, #0082c6);
            filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#000000', EndColorStr='#0082c6');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .panel { background-color: rgba(255, 255, 255, 0.50) !important; }
        @@media (min-width: 1024px) {
            html {
                /*background: url('Url.Content("~/Content/Images/bg-sohtec1.jpg")') no-repeat center center fixed;*/
                background: -webkit-gradient(linear, left top, right top, from(#000000), to(#0082c6)) no-repeat;
                background: -moz-linear-gradient(left, #000000, #0082c6);
                filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#000000', EndColorStr='#0082c6');
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
    </style>
}
@Html.Hidden("hdnEmail", ViewData["hdnEmail"].ToString())

@if (ViewData["Status"].ToString() == "Erro")
{
    <form class="sign-box reset-password-box">
        <div style="text-align:center; padding: 10px;">
            <img src="@Url.Content("~/Content/img/logo.png")" width="170" alt="">
        </div>
        <header class="sign-title"><small style="font-weight:bold">@ViewData["Mensagem"].ToString()</small></header>

        <center><a href="@Url.Action("Index", "Home")">Autenticação</a></center>
    </form>
}
else if (ViewData["Status"].ToString() == "Expirou")
{
    <form class="sign-box reset-password-box">
        <div style="text-align:center; padding: 10px;">
            <img src="@Url.Content("~/Content/img/logo.png")" width="170" alt="">
        </div>
        <header class="sign-title"><small style="font-weight:bold">@ViewData["Mensagem"].ToString()</small></header>

        <center><a href="@Url.Action("Index", "Home")">Autenticação</a></center>
    </form>
}
else
{
    <form class="sign-box reset-password-box">
        <div style="text-align:center; padding: 10px;">
            <img src="@Url.Content("~/Content/img/logo.png")" width="72" alt="">
        </div>
        <header class="sign-title"><small style="font-weight:bold">Confirme nova senha</small></header>
        <div id="msg_feedback" style="display:none" class="form-error-text-block"></div>
        <div class="form-group">
            <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Senha" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="txtPasswordC" name="txtPasswordC" placeholder="Confirmar Senha" />
        </div>

        <button type="button" id="btnOK" name="btnOK" class="btn btn-rounded">Ok</button>
        ou <a href="@Url.Action("Index", "Home")">Autenticação</a>
    </form>

}



@section scripts {
    @Scripts.Render("~/Scripts/Admin.NewPassword.js?t" + Guid.NewGuid())
}
